
body{
    min-height:100vh;
    background-color:rgb(208, 253, 253) ;
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    border-bottom: gray solid 1px;
    background-color: rgb(208, 253, 253);
}
.logo img{
    width:90px;
    height: 70px;
}
.Menu{
    display: flex;
    gap: 30px;
    margin-left:100px;
    list-style: none;
}
.Menu li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;
}
#btn{
    background-color: rgb(112, 172, 192);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
}
#btn1{
    background-color: rgb(112, 172, 192);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
}
.button-1{
    padding-left:20%;
}
#btn:hover, #btn1:hover {
   background-color: rgb(44, 186, 233);
}
.dark-mode {
    background-color: #333;
    color: white;
}
.light-mode {
    background-color:rgb(208, 253, 253);
    color: black;
}
.container{
      width:100%;
}
.left-side{
    display: flex;
}
#top-text{
    padding-top: 60px;
   padding-left: 100px;
}
.lefttop h1{
    color: rgb(86, 86, 187);
}
.button-2{
    padding-top: 10px;
    gap:15px;
    padding-left:100px ;
}
#contact{
    background:white;
    color: blue;
    border: none;
    background-color: rgb(112, 172, 192);
    padding:10px 16px;
}
.images{    
padding-left:30%;
display: flex;
gap: 30px;
}
.image-box {  
    width: 40%;
}
.image-box img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom:5%;  
}
.right-bottom{
    margin-top: 30px;
}
.leftbottom{
    padding-top:35px;
}
.search{
    padding-top: 10px;
}
.search input{
  width: 250px;          /* size bara karne ke liye */
  height: 30px;          /* height bara */
  font-size: 18px;       /* text size */
  text-align: center;    /* text center mein */
  background-color: #f0f8ff;  /* background color */
  color: #333;           /* text color */
  border: 2px solid #4CAF50; /* border color */
}
.boxes{
    display: flex;
    margin-left: 30%;
}
#box1{
    width: 100px;
    height: 50px;
    border: solid #4CAF50;
    background-color: green;
    text-align: center;
}
#box2{
    width: 100px;
    height: 50px;
    border: solid #4CAF50;
    text-align: center;
}
#box3{
    width: 100px;
    height: 50px;
    border: solid #4CAF50;
    text-align: center;
}
#box4{
    width: 100px;
    height: 50px;
    border: solid #4CAF50;
    text-align: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

